@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;

    /*cursor: none;
    background: linear-gradient(125deg, rgba(0,255,29,1) 0%, rgba(249,255,0,1) 15%, rgba(54,243,162,1) 33%, rgba(240,87,87,1) 44%, rgba(135,235,117,1) 54%, rgba(112,106,230,1) 64%, rgba(243,53,235,1) 83%, rgba(0,212,255,1) 100%); 
    */
}

h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
  line-height: 35px;
  text-align: center;
  
  color: #FFFFFF;
}

a {
  color: white;
  text-decoration: none;
}

#page-container {
  /*position: relative;*/
  min-height: 100vh;
}

.top-image-header{
    object-fit: cover;
    height: 600px;
    width: 50%;
}

.Bestil_knap {
    width: 50%;
    align-content: center;
}

#frontimg{
    width: 100%;
    height: 66.66vw;
    align-content: center;
    z-index:-1;
}

/*Dimensioner 428x2731*/

#header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(108, 120, 83, 0.8);
}

#header h1 {
    color: #ffffff;
    margin-top: 5;
    margin-bottom: 10;
    font-size: 50;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 50px;
    text-align: center;
}

.topnav {
    overflow: hidden;
    margin-bottom: 10px;
}

.topnav .buttons {
    display: table;
    margin: auto;
}

.topnav a {
    float: none;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
}

.right-line {
    border-right: 1px solid white;
}
.topnav a:hover {
    color: #555555;
}

#footer {
    position:relative;
    width:100%;
    background:#6C7853;
    font-family: "Roboto", sans-serif;
    margin-top: auto;

    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 0;
}

#footer * {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 0;
}

#footersmiley{
  margin: 0;

  position: absolute;
  right: 0px;
  bottom: 0px;
}

#footersmiley * {
  margin: 0;
}

#footersmiley img{
    height: 5em;
}

.big-button {
    background-color: #AE9981;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin:auto;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 40;
}

.big-button:hover {
    filter: brightness(1.2);
}

.bestil-her-div {
    background-color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu-button{
    background-color: #AE9981;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;

}
.menu-button:hover{
    filter: brightness(1.2);

}

.menu-div{
    background-color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ideen-bag-div{
  position: relative;
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 30px;
  width: 100%;
  margin: 0;
}

.ideen-bag-div #ide-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(108, 120, 83, 0.8);
  padding: 40px;
  margin: 0;
  z-index: 999;

}

.ideen-bag-div img {
  padding: 0;
}

.ideen-bag-text-div {
  background-color: D0C1B0;
  vertical-align: bottom;
  text-align: left;
  color: white;
  bottom: 0;
  padding: 5;
  font-size: 20;
}

#info{
    color: #AC9C89;
    align-content: left;
}
#bst-txt{
  color: #6C7853;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.bst-txt2{
    color: #6C7853;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: block;
  font-size: 20px;
}
.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  display: block;
  font-size: 20px;
  color: #6C7853;
  text-align: left;
  font-family: "Roboto", sans-serif;
  /*background: rgb(0,255,29);
  background: linear-gradient(125deg, rgba(0,255,29,1) 0%, rgba(249,255,0,1) 15%, rgba(54,243,162,1) 33%, rgba(240,87,87,1) 44%, rgba(135,235,117,1) 54%, rgba(112,106,230,1) 64%, rgba(243,53,235,1) 83%, rgba(0,212,255,1) 100%); */
}
.formfitting {
  display: block;
  text-align:center;
  margin-bottom: 10px;
}
.formfitting form{
  display: inline-block;
  margin: auto;
}

#date-input {
  text-align: center;
  margin-bottom: 20px;
}
#time-input {
  text-align: center;
  margin-bottom: 20px;
}

#åbningstider {
  background: #6C7853;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

#åbningstider ul {
  list-style-type: none;
  padding: 0;
}

#åbningstider ul li div *{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;

  color: #FFFFFF;
}
#åbningstider ul li div {
  margin-top: 20px;
  margin-bottom: 6px;
}

#åbningstider ul li {
  border-bottom: 1px dashed #A4BE6D;
}

#åbningstider ul li div h3 {
  display: inline;
  margin: 0;
  margin-left: 10px;
}
#åbningstider ul li div p {
  display: inlilne;
  float: right;
  font-weight: 300;
  margin: 0;
  margin-right: 10px;
}

#åbningstider ul #åbning-helligdage{
  margin-top: 75px;
}